extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-map-marked
      | Climging

  .btn-group.d-flex(role='group')
    a.btn.btn-primary(href='https://developer.here.com', target='_blank').w-100
      i.far.fa-check-square.fa-sm
      | HERE Developer Portal
    a.btn.btn-primary(href='https://developer.here.com/documentation/map-image/topics/resource-map.html', target='_blank').w-100
      i.fas.fa-laptop.fa-sm
      | Image Map Parameters

  br
  .pb-2.mt-2
    h3 Map using Here Image Map Service
  div(style='display:flex; justify-content: center;')
    | This non-interactive map renders without the use of any client-side scripts:
  div(style='display:flex; justify-content: center;')
    img(src= imageMapURL)

  br
  .pb-2.mt-2.mt-4.border-top
    h3 Map using Here Interactive Map Service
  div(style='display:flex; justify-content: center;')
    | The client-side scripts are used for rendering this map:
  div(style='display:flex; justify-content: center;')
    #map(style='width: 100vw; height: 50vh')

  div(style='display:flex; justify-content: center;')
    | Straight line distance between the Fremont Troll and Seattle Art Museum is&nbsp
    #directLineDistance
    | &nbspmiles.

  script(src='https://js.api.here.com/v3/3.0/mapsjs-core.js', type='text/javascript', charset='utf-8')
  script(src='https://js.api.here.com/v3/3.0/mapsjs-service.js', type='text/javascript', charset='utf-8')
  script(src='https://js.api.here.com/v3/3.0/mapsjs-mapevents.js', type='text/javascript', charset='utf-8')
  script. 
     const superchargers = [
      {
        location: 'Klimkaffee Mechelen',
        latitude: 51.024100,
        longitude: 4.493400
      }
    ];
  script.
    const platform = new H.service.Platform({
    useHTTPS: true,
    "app_id": "JWSP7JkYrpHgz1yGNaJX",
    "app_code": "OoV1WlVcoBfnRokX97Epg9xdaftZpyb6vTVtGgrmmoQ"
    });

    
    const map = new H.Map(document.getElementById("map"), platform.createDefaultLayers().normal.map, { zoom: 9, center: { lat: 51.024100, lng: 4.493400}});
    const mapEvents = new H.mapevents.MapEvents(map);
    // at this point the map is rendered, lets add some markers
    const behavior = new H.mapevents.Behavior(mapEvents);
     superchargers.forEach(function(sc) {
       var marker = new H.map.Marker({ lat: sc.latitude, lng: sc.longitude });
       map.addObjects([marker]);
      });