extends ../layout

block content
    .row
        .col-md-7
            H3= gym.name
            p.lead= "Location: " + gym.lat+", " + gym.lon

        .col-md-3
            img(class="img-thumbnail rounded mx-auto d-block", src="https://i.imgur.com/lCDnlX2.png",style='width: 80%; height: auto', alt="")  
    .col-md-10
        .row
            .col-md
            h2 Heading
            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
                a.btn.btn-primary(href='#', role='button') View details »
        .row
            .col-md
                h2 Events
                p.lead Upcoming Public Events
                table.table
                    tr
                    th Date
                    th Event 
                    th Description 
                    tbody 
                    tr 
                        td 01/07/2022
                        td Demo Event
                        td Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        .row
            .col-md
                h2 Images    
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .row
            .col-md
                h2 Reviews 
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
